.header {
  position: absolute;
  width: 100%;
  max-width: 1920px;
  z-index: 10;
}

.headerPos {
  position: relative;
}

.header__info {
  width: 100%;
  transition: 1s;
  height: 40px;
  background: #E8B567;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;

}

.header__infoSpan {
  margin: 0 16px;
}

@media (max-width: 1370px) {
  .header__info {
    display: none;
  }
}
