.wrapper {
  width: 100%;
  height: 472px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgCont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.link {
  background: #ffffff;
  position: absolute;
  width: 592px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.linkText {
  transition: .3s;
}

.link:hover .linkText {
  transform: scale(1.3);
}

@media (max-width: 640px) {
  .imgCont {
    justify-content: flex-start;
  }
  .link {
    width: 92%;
    height: 80px;
    font-size: 18px;
    line-height: 36px;
  }
}
